@font-face {
  font-family: 'Treenity';
  src:
    url('fonts/Treenity.ttf?ku5v28') format('truetype'),
    url('fonts/Treenity.woff?ku5v28') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Treenity' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car_outlined:before {
  content: "\e980";
}
.icon-file-unknown_outlined:before {
  content: "\e977";
}
.icon-format-painter_outlined:before {
  content: "\e978";
}
.icon-border-horizontal_outlined:before {
  content: "\e979";
}
.icon-bg-colors_outlined:before {
  content: "\e97a";
}
.icon-font-colors_outlined:before {
  content: "\e97b";
}
.icon-font-size_outlined:before {
  content: "\e97c";
}
.icon-bulb_outlined:before {
  content: "\e97d";
}
.icon-highlight_outlined:before {
  content: "\e97e";
}
.icon-radius_outlined:before {
  content: "\e97f";
}
.icon-shrink_outlined:before {
  content: "\e976";
}
.icon-appstore_outlined:before {
  content: "\e974";
}
.icon-mail_outlined:before {
  content: "\e975";
}
.icon-question-circle_outlined:before {
  content: "\e94d";
}
.icon-file-text_outlined:before {
  content: "\e921";
}
.icon-file_outlined:before {
  content: "\e92e";
}
.icon-close_outlined:before {
  content: "\e900";
}
.icon-edit-code_filled:before {
  content: "\e901";
}
.icon-kebab_filled:before {
  content: "\e902";
}
.icon-locked_filled:before {
  content: "\e903";
}
.icon-locked_outlined:before {
  content: "\e904";
}
.icon-unlocked_filled:before {
  content: "\e905";
}
.icon-unlocked_outlined:before {
  content: "\e906";
}
.icon-add-folder_filled:before {
  content: "\e907";
}
.icon-add-folder_outlined:before {
  content: "\e909";
}
.icon-align-center_outlined:before {
  content: "\e908";
}
.icon-align-justify_outlined:before {
  content: "\e90a";
}
.icon-align-left_outlined:before {
  content: "\e90b";
}
.icon-align-right_outlined:before {
  content: "\e90c";
}
.icon-arrow-bottom_outlined:before {
  content: "\e90d";
}
.icon-arrow-left_outlined:before {
  content: "\e90e";
}
.icon-arrow-right_outlined:before {
  content: "\e90f";
}
.icon-arrow-top_outlined:before {
  content: "\e910";
}
.icon-back_outlined:before {
  content: "\e911";
}
.icon-calendar_filled:before {
  content: "\e912";
}
.icon-calendar_outlined:before {
  content: "\e913";
}
.icon-chart-direction_outlined:before {
  content: "\e914";
}
.icon-check_outlined:before {
  content: "\e915";
}
.icon-clock_filled:before {
  content: "\e916";
}
.icon-clock_outlined:before {
  content: "\e917";
}
.icon-code_outlined:before {
  content: "\e918";
}
.icon-color-picker_outlined:before {
  content: "\e919";
}
.icon-data_outlined:before {
  content: "\e91a";
}
.icon-drop_filled:before {
  content: "\e91b";
}
.icon-error_filled:before {
  content: "\e91c";
}
.icon-eye_filled:before {
  content: "\e91d";
}
.icon-eye_outlined:before {
  content: "\e91e";
}
.icon-eye-off_filled:before {
  content: "\e91f";
}
.icon-eye-off_outlined:before {
  content: "\e920";
}
.icon-filter_outlined:before {
  content: "\e922";
}
.icon-folder_filled:before {
  content: "\e923";
}
.icon-folder_outlined:before {
  content: "\e924";
}
.icon-folder-open_filled:before {
  content: "\e925";
}
.icon-image_outlined:before {
  content: "\e926";
}
.icon-information_filled:before {
  content: "\e927";
}
.icon-information_outlined:before {
  content: "\e928";
}
.icon-letter-spacing_outlined:before {
  content: "\e929";
}
.icon-like_filled:before {
  content: "\e92a";
}
.icon-like_outlined:before {
  content: "\e92b";
}
.icon-line-height_outlined:before {
  content: "\e92c";
}
.icon-link_outlined:before {
  content: "\e92d";
}
.icon-maximize_outlined:before {
  content: "\e92f";
}
.icon-menu_outlined:before {
  content: "\e930";
}
.icon-move_outlined:before {
  content: "\e931";
}
.icon-plus_outlined:before {
  content: "\e932";
}
.icon-save_filled:before {
  content: "\e933";
}
.icon-save_outlined:before {
  content: "\e934";
}
.icon-search_outlined:before {
  content: "\e935";
}
.icon-select-file_outlined:before {
  content: "\e936";
}
.icon-selected_outlined:before {
  content: "\e937";
}
.icon-share_filled:before {
  content: "\e938";
}
.icon-share_outlined:before {
  content: "\e939";
}
.icon-source_outlined:before {
  content: "\e93a";
}
.icon-success_filled:before {
  content: "\e93b";
}
.icon-success_outlined:before {
  content: "\e93c";
}
.icon-terminal_outlined:before {
  content: "\e93d";
}
.icon-type_outlined:before {
  content: "\e93e";
}
.icon-warning_filled:before {
  content: "\e93f";
}
.icon-x-circle_filled:before {
  content: "\e940";
}
.icon-x-circle_outlined:before {
  content: "\e941";
}
.icon-add-square_outlined:before {
  content: "\e942";
}
.icon-arrow-drop-close_outlined:before {
  content: "\e943";
}
.icon-copy_filled:before {
  content: "\e944";
}
.icon-arrow-drop-open_outlined:before {
  content: "\e945";
}
.icon-copy_outlined:before {
  content: "\e946";
}
.icon-duplicate_filled:before {
  content: "\e947";
}
.icon-favourite_filled:before {
  content: "\e948";
}
.icon-favourite_outlined:before {
  content: "\e949";
}
.icon-home_outlined:before {
  content: "\e94a";
}
.icon-home_filled:before {
  content: "\e94b";
}
.icon-info_filled:before {
  content: "\e94c";
}
.icon-loader_filled:before {
  content: "\e94e";
}
.icon-market_filled:before {
  content: "\e94f";
}
.icon-market_outlined:before {
  content: "\e950";
}
.icon-monitor_outlined:before {
  content: "\e951";
}
.icon-moon_outlined:before {
  content: "\e952";
}
.icon-moon_filled:before {
  content: "\e953";
}
.icon-notification_outlined:before {
  content: "\e954";
}
.icon-preview_filled:before {
  content: "\e955";
}
.icon-notification_filled:before {
  content: "\e956";
}
.icon-rename_outlined:before {
  content: "\e957";
}
.icon-settings_filled:before {
  content: "\e958";
}
.icon-settings_outlined:before {
  content: "\e959";
}
.icon-smartphone-h_outlined:before {
  content: "\e95a";
}
.icon-smartphone-v_outlined:before {
  content: "\e95b";
}
.icon-sun_filled:before {
  content: "\e95c";
}
.icon-sun_outlined:before {
  content: "\e95d";
}
.icon-tablet-h_outlined:before {
  content: "\e95e";
}
.icon-tablet-v_outlined:before {
  content: "\e95f";
}
.icon-tag_outlined:before {
  content: "\e960";
}
.icon-template_outlined:before {
  content: "\e961";
}
.icon-trash_filled:before {
  content: "\e962";
}
.icon-trash_outlined:before {
  content: "\e963";
}
.icon-upload_filled:before {
  content: "\e964";
}
.icon-upload_outlined:before {
  content: "\e965";
}
.icon-open-close_outlined:before {
  content: "\e966";
}
.icon-add-between_filled:before {
  content: "\e967";
}
.icon-add-bulleted-list_outlined:before {
  content: "\e968";
}
.icon-add-circle_outlined:before {
  content: "\e969";
}
.icon-add-file_outlined:before {
  content: "\e96a";
}
.icon-add-headlines-1_outlined:before {
  content: "\e96b";
}
.icon-add-headlines-2_outlined:before {
  content: "\e96c";
}
.icon-add-headlines-3_outlined:before {
  content: "\e96d";
}
.icon-add-numbered-list_outlined:before {
  content: "\e96e";
}
.icon-add-quote_outlined:before {
  content: "\e96f";
}
.icon-add-table_outlined:before {
  content: "\e970";
}
.icon-add-txt_outlined:before {
  content: "\e971";
}
.icon-add-to-do-list_outlined:before {
  content: "\e972";
}
.icon-add-toggle-list_outlined:before {
  content: "\e973";
}
.icon-tool_outlined:before {
  content: "\e981";
}
.icon-flex-space-between_outlined:before {
  content: "\e982";
}
.icon-flex-space-around_outlined:before {
  content: "\e983";
}
.icon-flex-rows_outlined:before {
  content: "\e984";
}
.icon-flex-align-right_outlined:before {
  content: "\e985";
}
.icon-flex-revert_outlined:before {
  content: "\e986";
}
.icon-flex-columns_outlined:before {
  content: "\e987";
}
.icon-flex-align-top_outlined:before {
  content: "\e988";
}
.icon-flex-align-bottom_outlined:before {
  content: "\e989";
}
.icon-flex-align-center_outlined:before {
  content: "\e98a";
}
.icon-flex-align-left_outlined:before {
  content: "\e98b";
}
.icon-loader_outlined:before {
  content: "\e98c";
}
.icon-debug_outlined:before {
  content: "\e98d";
}
.icon-sort-vertical_outlined:before {
  content: "\e98e";
}
.icon-user-profile_outlined:before {
  content: "\e98f";
}
.icon-user-profile_filled:before {
  content: "\e990";
}
.icon-control_outlined:before {
  content: "\e991";
}
.icon-command_outlined:before {
  content: "\e992";
}
.icon-color-picker_filled:before {
  content: "\e993";
}
.icon-figma_outlined:before {
  content: "\e994";
}
.icon-globe_outlined:before {
  content: "\e995";
}
.icon-help-circle_filled:before {
  content: "\e996";
}
.icon-help-circle_outlined:before {
  content: "\e997";
}
.icon-indent-decrease_outlined:before {
  content: "\e998";
}
.icon-indent-increase_outlined:before {
  content: "\e999";
}
.icon-option_outlined:before {
  content: "\e99a";
}
.icon-target_outlined:before {
  content: "\e99b";
}
.icon-import_outlined:before {
  content: "\e99c";
}
.icon-lightning_filled:before {
  content: "\e99d";
}
.icon-export_outlined:before {
  content: "\e99e";
}
.icon-port-circle_outlined:before {
  content: "\e99f";
}
.icon-plasmic_filled:before {
  content: "\e9a0";
}
.icon-tool_filled:before {
  content: "\e9a1";
}
.icon-wallet_outlined:before {
  content: "\e9a2";
}
.icon-logout_outlined:before {
  content: "\e9a3";
}
.icon-ant-design_outlined:before {
  content: "\e9a4";
}
.icon-kebab-v_filled:before {
  content: "\e9a5";
}
.icon-file_filled:before {
  content: "\e9a6";
}
.icon-duplicate_outlined:before {
  content: "\e9a7";
}
.icon-archive_outlined:before {
  content: "\e9a8";
}
.icon-settings-2_outlined:before {
  content: "\e9a9";
}
.icon-password_outlined:before {
  content: "\e9aa";
}
.icon-repeat_filled:before {
  content: "\e9ab";
}
.icon-border-radius-fine-tune_outlined:before {
  content: "\e9ae";
}
.icon-empty_outlined:before {
  content: "\e9af";
}
.icon-border-all_outlined:before {
  content: "\e9b0";
}
.icon-border-top_outlined:before {
  content: "\e9b1";
}
.icon-border-right_outlined:before {
  content: "\e9b2";
}
.icon-border-bottom_outlined:before {
  content: "\e9b3";
}
.icon-border-left_outlined:before {
  content: "\e9b4";
}
.icon-border-dash_outlined:before {
  content: "\e9b5";
}
.icon-border-dotted_outlined:before {
  content: "\e9b6";
}
.icon-border-solid_outlined:before {
  content: "\e9b7";
}
.icon-bundle_outlined:before {
  content: "\e9b8";
}
.icon-letter-spacing-1_outlined:before {
  content: "\e9b9";
}
.icon-font-type_outlined:before {
  content: "\e9ba";
}
.icon-italics_outlined:before {
  content: "\e9bb";
}
.icon-overline_outlined:before {
  content: "\e9bc";
}
.icon-underline_outlined:before {
  content: "\e9bd";
}
.icon-strike_outlined:before {
  content: "\e9be";
}
.icon-par_outlined:before {
  content: "\e9c0";
}
.icon-space-horizontal_outlined:before {
  content: "\e9c1";
}
.icon-space-vertical_outlined:before {
  content: "\e9c2";
}
.icon-shadow-spread_outlined:before {
  content: "\e9c3";
}
.icon-shadow-blur_outlined:before {
  content: "\e9c4";
}
.icon-arrow-rotate-right_outlined:before {
  content: "\e9c5";
}
.icon-arrow-rotate-left_outlined:before {
  content: "\e9c6";
}
.icon-y-axis_outlined:before {
  content: "\e9c8";
}
.icon-x-axis_outlined:before {
  content: "\e9c9";
}
.icon-top-row_outlined:before {
  content: "\e9bf";
}
.icon-center-row_outlined:before {
  content: "\e9c7";
}
.icon-bottom-row_outlined:before {
  content: "\e9ca";
}
.icon-left-column_outlined:before {
  content: "\e9cb";
}
.icon-center-column_outlined:before {
  content: "\e9cc";
}
.icon-right-column_outlined:before {
  content: "\e9cd";
}
.icon-occupation_outlined:before {
  content: "\e9ce";
}
.icon-flex-align-stretch_outlined:before {
  content: "\e9cf";
}
.icon-flex-align-center-h_outlined:before {
  content: "\e9d0";
}
.icon-matrix-point_outlined:before {
  content: "\e9d1";
}
.icon-column-bottom-space-around_outlined:before {
  content: "\e9d2";
}
.icon-column-bottom-space-between_outlined:before {
  content: "\e9d3";
}
.icon-column-center-space-around_outlined:before {
  content: "\e9d4";
}
.icon-column-center-space-between_outlined:before {
  content: "\e9d5";
}
.icon-column-top-space-around_outlined:before {
  content: "\e9d6";
}
.icon-column-top-space-between_outlined:before {
  content: "\e9d7";
}
.icon-row-bottom-space-around_outlined:before {
  content: "\e9d8";
}
.icon-row-bottom-space-between_outlined:before {
  content: "\e9d9";
}
.icon-row-center-space-around_outlined:before {
  content: "\e9da";
}
.icon-row-center-space-between_outlined:before {
  content: "\e9db";
}
.icon-row-top-space-around_outlined:before {
  content: "\e9dc";
}
.icon-row-top-space-between_outlined:before {
  content: "\e9dd";
}
.icon-stretch-horizontal_outlined:before {
  content: "\e9e3";
}
.icon-space-around-vertical_outlined:before {
  content: "\e9de";
}
.icon-space-between-vertical_outlined:before {
  content: "\e9df";
}
.icon-space-around_outlined:before {
  content: "\e9e0";
}
.icon-space-between_outlined:before {
  content: "\e9e1";
}
.icon-stretch-vertical_outlined:before {
  content: "\e9e2";
}
.icon-border-radius-left-top_outlined:before {
  content: "\e9e4";
}
.icon-add-headlines-4_outlined:before {
  content: "\e9e5";
}
.icon-add-headlines-5_outlined:before {
  content: "\e9e6";
}
.icon-add-headlines-6_outlined:before {
  content: "\e9e7";
}
.icon-add-list-circle-filled_outlined:before {
  content: "\e9e8";
}
.icon-add-list-circle-outlined_outlined:before {
  content: "\e9e9";
}
.icon-add-list-letters-dots_outlined:before {
  content: "\e9ea";
}
.icon-add-list-letters-parenthesis_outlined:before {
  content: "\e9eb";
}
.icon-add-list-numbers-parenthesis_outlined:before {
  content: "\e9ec";
}
.icon-add-list-square-filled_outlined:before {
  content: "\e9ed";
}
.icon-add-list-square-outlined_outlined:before {
  content: "\e9ee";
}
.icon-code-2_outlined:before {
  content: "\e9ef";
}
.icon-right-offset_outlined:before {
  content: "\e9f0";
}
.icon-center-offset_outlined:before {
  content: "\e9f1";
}
.icon-middle-offset_outlined:before {
  content: "\e9f2";
}
.icon-bottom-offset_outlined:before {
  content: "\e9f3";
}
.icon-left-offset_outlined:before {
  content: "\e9ac";
}
.icon-top-offset_outlined:before {
  content: "\e9ad";
}
.icon-side-v_filled:before {
  content: "\e9f4";
}
.icon-side-h_filled:before {
  content: "\e9f5";
}
.icon-corner_filled:before {
  content: "\e9f6";
}
.icon-center_filled:before {
  content: "\e9f7";
}
.icon-flex-rows-container_outlined:before {
  content: "\e9f8";
}
.icon-flex-columns-container_outlined:before {
  content: "\e9f9";
}
.icon-cancel-left_outlined:before {
  content: "\e9fa";
}
.icon-arrows-refresh_outlined:before {
  content: "\e9fb";
}
.icon-grid-rows-settings_outlined:before {
  content: "\e9fc";
}
.icon-grid-columns-settings_outlined:before {
  content: "\e9fd";
}
.icon-columns-align-left_outlined:before {
  content: "\e9fe";
}
.icon-columns-align-center_outlined:before {
  content: "\e9ff";
}
.icon-columns-align-right_outlined:before {
  content: "\ea00";
}
.icon-columns-align-space-around_outlined:before {
  content: "\ea01";
}
.icon-columns-align-space-between_outlined:before {
  content: "\ea02";
}
.icon-columns-align-stretch_outlined:before {
  content: "\ea03";
}
.icon-justify-self-start_outlined:before {
  content: "\ea04";
}
.icon-justify-self-center_outlined:before {
  content: "\ea05";
}
.icon-justify-self-end_outlined:before {
  content: "\ea06";
}
.icon-justify-self-stretch_outlined:before {
  content: "\ea07";
}
.icon-justify-self-baseline_outlined:before {
  content: "\ea08";
}
.icon-edit_outlined:before {
  content: "\ea09";
}
.icon-archive-folder-2_outlined:before {
  content: "\ea0a";
}
.icon-publish_outlined:before {
  content: "\ea0b";
}
.icon-flex-child-column-shrink_outlined:before {
  content: "\ea0c";
}
.icon-flex-child-column-none_outlined:before {
  content: "\ea0d";
}
.icon-flex-child-column-grow_outlined:before {
  content: "\ea0e";
}
.icon-support_outlined:before {
  content: "\ea0f";
}
.icon-subscriptions_outlined:before {
  content: "\ea10";
}
.icon-billings_outlined:before {
  content: "\ea11";
}
.icon-desktop_outlined:before {
  content: "\ea12";
}
.icon-container_outlined:before {
  content: "\ea13";
}
.icon-section_outlined:before {
  content: "\ea14";
}
.icon-check-in-square_outlined:before {
  content: "\ea15";
}
.icon-carousel_outlined:before {
  content: "\ea16";
}
.icon-accordion_outlined:before {
  content: "\ea17";
}
.icon-input_outlined:before {
  content: "\ea18";
}
.icon-grid_outlined:before {
  content: "\ea19";
}
.icon-flag_outlined:before {
  content: "\ea1a";
}
.icon-divider-v_outlined:before {
  content: "\ea1b";
}
.icon-divider-h_outlined:before {
  content: "\ea1c";
}
.icon-play_outlined:before {
  content: "\ea1d";
}
.icon-radio_outlined:before {
  content: "\ea1e";
}
.icon-select_outlined:before {
  content: "\ea1f";
}
.icon-sider_outlined:before {
  content: "\ea20";
}
.icon-lightinhg_outlined:before {
  content: "\ea21";
}
.icon-bold_outlined:before {
  content: "\ea22";
}
.icon-link-horizontal_outlined:before {
  content: "\ea23";
}
.icon-chevron-down_outlined:before {
  content: "\ea24";
}
.icon-play-circle_outlined:before {
  content: "\ea25";
}
.icon-eraser_outlined:before {
  content: "\ea26";
}
.icon-generate_outlined:before {
  content: "\ea27";
}
.icon-attach_outlined:before {
  content: "\ea28";
}
.icon-zoom-in_outlined:before {
  content: "\ea29";
}
.icon-zoom-out_outlined:before {
  content: "\ea2a";
}
.icon-phone_outlined:before {
  content: "\ea2c";
}
.icon-hash_outlined:before {
  content: "\ea2d";
}
.icon-globe-wired_outlined:before {
  content: "\ea2b";
}
